<!DOCTYPE html>
<html>
<head>
	<title>Angular Test</title>
</head>
<body>
<div ng-app="myApp">
	<strong>FirstCtrl</strong>
	<div ng-controller="FirstCtrl">
		<input type="text" ng-model="data.message">
		<h1>{{data.message}}</h1>
		<h2>{{data.message|reverse}}</h2>
	</div>
	<strong>AvengersCtrl</strong>	
	<div ng-controller="AvengersCtrl">
		<label for="search-all">All: </label>
		<input id="search-all" type="text" ng-model="search.$"/>
		<label for="search-name">Name: </label>
		<input id="search-name" type="text" ng-model="search.Name"/>
		<label for="search-character">Character: </label>
		<input id="search-character" type="text" ng-model="search.Character"/>

		<table>
			<tr ng-repeat="actor in avengers.cast | filter:search |orderBy:'-Name' | limitTo:-5">
				<td>{{actor.Name | lowercase}}</td>
				<td>{{actor.Character | uppercase}}</td>
			</tr>
		</table>
	</div>
	<strong>Directive</strong>	
	<superman></superman>
	<div super></div>
	<div class="super"></div>
	<!-- directive:super -->
	<div></div>

</div>





<script type="text/javascript" src="../components/angular.min.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>